<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Taker Registration Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/reg.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js"></script>
    <script src="../js/script.js" type="text/javascript"></script>
</head>

<body class="body">
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-8">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h1 class="text-center mb-4">Job Taker</br>Registration</h1>
                        <!-- <div class="text-center">
                            <button id="job-poster-btn" type="button"
                                class="btn btn-primary btn-lg btn-block me-3">Shop</button>
                            <button id="job-taker-btn" type="button"
                                class="btn btn-primary btn-lg btn-block me-3">Individual</button>
                        </div> -->
                        <hr class="mb-5">
                        <form>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="first-name" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="first-name" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="last-name" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="last-name" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="phone-number" class="form-label">Phone Number</label>
                                <input type="tel" class="form-control" id="phone-number" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="NID" class="form-label">NID Number</label>
                                <input type="number" class="form-control" id="nid_number" required>
                            </div>

                            <div class="mb-3">
                                <label for="dob" class="form-label">Date of Birth</label>
                                <input type="date" class="form-control" id="dob" required>
                            </div>
                            <div class="mb-3">
                                <label for="present-address" class="form-label">Present Address</label>
                                <textarea class="form-control" id="present-address" rows="3" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="NID" class="form-label">Trade Licence No.</label>
                                <input type="number" class="form-control" id="nid_number" required>
                            </div>
                            <div class="card-body mb-3">
                                <label for="exampleFormControlFile1">Trade Licence Scanned Copy</label>
                                </br>
                                <input type="file" class="form-control-file mt-4" id="trade_Licence">
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="confirm-password" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirm-password" required>
                                </div>
                            </div>

                            <div class="text-center d-grid me-5 mt-5 ms-5">
                                <button type="submit" class="btn btn-primary btn-block mb-5 gap-5">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS -->